<div id="div_page_article">
    <div class="container_title website_font_style">
        <h1 class="main-title">{{ pageTitle }}</h1>
    </div>

    <div class="container website_font_style">
        <div class="card" *ngFor="let article of list_articles; let i = index">
            <h2>{{ article.title }}</h2>
            <h3>{{ article.subtitle }}</h3>
            <p>{{ article.content }}</p>

            <div class="actions">
                <div class="socials">
                    <div>
                        <p>
                            Author :
                            <span class="followers"
                            >{{ article.authorName }} - 50 followers</span
                            >
                        </p>
                    </div>

                    <div class="icons">
                        <div><i class="fa-solid fa-heart"></i><span>10</span></div>

                        <div
                            [ngClass]="{
                            visible: article.online,
                            invisible: !article.online
                            }"
                        >
                            <span>Visibilité </span
                            ><i
                            class="fa-solid"
                            [ngClass]="{
                                'fa-eye': article.online,
                                'fa-eye-slash': !article.online
                            }"
                            ></i>
                        </div>
                    </div>
                </div>

                <div class="main_actions">
                    <div>
                        <i
                            class="fa-solid fa-pen"
                            (click)="[(displayModal = !displayModal), editArticle(i)]"
                        ></i>
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
    id="editModal"
    class="modal"
    [ngClass]="[!displayModal ? 'hidden' : 'display']"
    >
        <div class="modal-content">
            <div class="header">
                <div>
                    <h2>Modifier l'Article</h2>
                </div>
                <div class="close-btn">
                    <i class="fa-solid fa-xmark" (click)="displayModal = !displayModal"></i>
                </div>
            </div>

            <form id="editArticleForm">
            <label for="article-id">ID de l'Article</label>
            <input
                type="text"
                id="article-id"
                name="id"
                [value]="valuesArticle.id"
                [(ngModel)]="id"
                readonly
            />

            <label for="article-title">Titre</label>
            <input
                type="text"
                id="article-title"
                name="title"
                [(ngModel)]="title"
                [value]="valuesArticle.title"
            />

            <label for="article-subtitle">Sous-titre</label>
            <input
                type="text"
                id="article-subtitle"
                name="subtitle"
                [(ngModel)]="subtitle"
                [value]="valuesArticle.subtitle"
            />

            <label for="article-content">Contenu</label>
            <textarea
                id="article-content"
                name="content"
                [(ngModel)]="content"
                [placeholder]="valuesArticle.content"
            ></textarea>

            <label for="article-online">Statut en Ligne</label>

            <label id="article-online" class="switch">
                <input type="checkbox" name="online" [(ngModel)]="online" />
                <span class="slider round"></span>
            </label>
            
            <button type="submit" (click)="save(valuesArticle.id)">
                Sauvegarder
            </button>
            </form>
        </div>
    </div>
</div>