<div class="chat-container">
  <h2>messages 💬</h2>
  <button class="button-clear-messages" (click)="clearMessages()">
    Clear messages
  </button>
  <div class="messages">
    <div *ngFor="let message of messages" class="message">
      <strong>{{ message.user }}:</strong> at:
      <!-- {{ message.sendAt?.toDate() | date : "short" }} -->
      <br />
      <p>
        {{ message.content }}
      </p>
    </div>
  </div>

  <div class="message-input">
    <input
      type="text"
      placeholder="Ton message..."
      [(ngModel)]="newMessage"
      (keyup.enter)="
        sendMessage(
          newMessage,
          authService.currentUserSignal()?.username || 'No name user'
        )
      "
    />
    <button
      (click)="
        sendMessage(
          newMessage,
          authService.currentUserSignal()?.username || 'No name user'
        )
      "
    >
      Envoyer 🚀
    </button>
  </div>
</div>
