header {
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    /* position: relative;
    top: 50%;
    margin: 0; */
    line-height: 1;
}

a {
    margin-left: 4%;
    margin-right: 4%;
    font-size: 24px;
}