<div class="profile-container">
  <div class="profile-header">
    <div class="user-image-container">
      <img src="{{ userImage }}" alt="user image" />
    </div>
    <div>
      <h1>Salut! {{ username }}</h1>
      <p>Email: {{ email }}</p>
      <button (click)="logout()">Logout</button>
      <button (click)="toggleModal()">Éditer mon profil</button>
    </div>
  </div>
  <div>
    <h2>Mes amis</h2>
    <ul class="friends-list">
      <li *ngFor="let user of userFriends">
        {{ user.username }}
        <button class="delete-friend" (click)="removeFriend(user.id)">
          delete friend
        </button>
      </li>
    </ul>
  </div>

  <div>
    <h2>Mes articles</h2>
    <div class="card" *ngFor="let article of userArticles; let i = index">
      <h2>{{ article.title }}</h2>
      <h3>{{ article.subtitle }}</h3>
      <p>{{ article.content }}</p>
      <div class="actions">
        <div class="socials">
          <div>
            <p>
              Author :
              <span class="followers"
                >{{ article.authorName }} - 50 followers</span
              >
            </p>
          </div>
          <div class="icons">
            <div><i class="fa-solid fa-heart"></i><span>10</span></div>
            <div
              [ngClass]="{
                visible: article.online,
                invisible: !article.online
              }"
            >
              <span>Visibilité </span
              ><i
                class="fa-solid"
                [ngClass]="{
                  'fa-eye': article.online,
                  'fa-eye-slash': !article.online
                }"
              ></i>
            </div>
          </div>
        </div>
        <div class="main_actions">
          <div>
            <i
              class="fa-solid fa-pen"
              (click)="[(articleModal = !articleModal), editArticle(i)]"
            ></i>
            <i class="fa-solid fa-trash"></i>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noArticles>
      <p>Pas d'articles pour le moment</p>
    </ng-template>
  </div>

  <div>
    <h2>Tous les utilisateurs</h2>
    <ul class="friends-list">
      <li *ngFor="let user of allUsers$ | async">
        {{ user.username }}
        <button
          *ngIf="!friendsIds.includes(user.id)"
          (click)="addFriend(user.id)"
        >
          Add to friends
        </button>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="modalOpen" class="edit-profile-modal">
  <div class="modal-content">
    <h2>Éditer mon profil</h2>
    <input
      type="text"
      [(ngModel)]="modalUsername"
      placeholder="Nom d'utilisateur"
    />
    <input type="text" [(ngModel)]="modalImageUrl" placeholder="Image Url" />

    <div>
      <h1>Salut! {{ username }}</h1>
      <p>Email: {{ email }}</p>
      <button (click)="logout()">Logout</button>
      <button (click)="toggleModal()">Éditer mon profil</button>
    </div>
  </div>
</div>

<div *ngIf="modalOpen" class="edit-profile-modal">
  <div class="modal-content">
    <h2>Éditer mon profil</h2>
    <input
      type="text"
      [(ngModel)]="modalUsername"
      placeholder="Nom d'utilisateur"
    />
    <input type="text" [(ngModel)]="modalImageUrl" placeholder="Image Url" />

    <button (click)="toggleModal()">Annuler</button>
    <button (click)="editProfile()">Confirmer</button>
  </div>
</div>
